<!doctype html>
{% load static %}
<html lang="en">

<head>
    <title>Регистрация</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/log-style.css' %}">
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">

                    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center">
                        <div class="text w-100">
                            <h2>Добре дошли</h2>
                            <p>Имате профил?</p>
                            <a href="{% url 'login' %}" class="btn btn-white btn-outline-white">Влезте от тук</a>
                        </div>
                    </div>
                    <div class="login-wrap p-4 p-lg-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Регистрация</h3>
                            </div>

                        </div>
                        <form method="post" class="signin-form">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label class="label" for="name">име</label>
                                {{ form.first_name }}
                                {% if form.errors.first_name %}
                                    <div class="alert">
                                        {% for error in form.errors.first_name %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="surname">фамилия</label>
                                {{ form.last_name }}
                                {% if form.errors.last_name %}
                                    <div class="alert">
                                        {% for error in form.errors.last_name %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="phone">телефон</label>
                                {{ form.phone }}
                                {% if form.errors.phone %}
                                    <div class="alert">
                                        {% for error in form.errors.phone %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="email">Вашия email</label>
                                {{ form.email }}
                                {% if form.errors.email %}
                                    <div class="alert">
                                        {% for error in form.errors.email %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group mb-3 {% if form.password1.errors %} has-error{% endif %}">
                                <label class="label" for="password">Вашата парола</label>
                                {{ form.password1 }}
                                {% if form.errors.password1 %}
                                    <div class="alert">
                                        {% for error in form.errors.password1 %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Потвърдете паролата</label>
                                {{ form.password2 }}
                                {% if form.errors.password2 %}
                                    <div class="alert">
                                        {% for error in form.errors.password2 %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Регистрирай ме
                                </button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                </div>
                                <div class="w-50 text-md-right">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>
